trab_um/__pycache__/eliminacao_gauss_sem_pivoteamento.cpython-313.pyc
trab_um/__pycache__/gauss_seidel.cpython-313.pyc
trab_um/__pycache__/gerar_valores.cpython-313.pyc
trab_um/__pycache__/jacobi.cpython-313.pyc
trab_um/__pycache__/lagrange.cpython-313.pyc
trab_um/__pycache__/newton.cpython-313.pyc
